{% load comments static%}
{% load crispy_forms_tags %}
<p><strong>{% get_comment_count for post as comment_count %}{{comment_count}} Comments</strong></p>
{% if user.is_authenticated and not post.private %}
    {% render_comment_form for post %}
{% elif not post.private %}
    {% include 'registration/login_prompt.html' %}
{% else %}

{% endif %}

{% render_comment_list for post %}
<!-- Delete Comment Modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="deleteModalLabel">
          Warning
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to <strong>delete</strong> this comment?</span>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
        <a href="{% url 'posts:comment_delete' 0 %} "  id="deleteCommentModalLink" type="button" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>