{% load comments %}
{% load static %}
{% get_comment_list for post as comment_list %}
<p><strong>{{comment_list|length}} Comments</strong></p>
{% if user.is_authenticated %}
    {% get_comment_form for post as form %}

    <table>
      <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
          <tr>
          <td colspan="2">
            <input type="submit" name="submit" value="Post">
            <input type="submit" name="preview" value="Preview">
              <input type="hidden" name="next" value="{% url 'posts:post' post.id %}">
    <!--          Controls submit redirect of comment form -->
          </td>
        </tr>
      </form>
    </table>
{% else %}
    {% include 'posts/partial/accounts/login_prompt.html' %}
    <br>
{% endif %}

{% for comment in comment_list %}
    <p><strong>{{comment.user_name}}({{comment.ip_address}}):</strong></p>
    <p><small>on {{comment.submit_date}}</small></p>
    <p >{{comment.comment}}</p>
    {% get_comment_permalink comment as comment_link %}

    <hr>
{% endfor %}