
{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
  {% include 'posts/global/links.html' %}
  {% block css %}{% endblock %}
</head>
<body>
  {% include "posts/partial/navbar/navbar.html" %}
  <div class="ui container main-container">
    <div class="main-content">
      {% block messages %}
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% include 'posts/global/js.html' %}
  {% block js %}{% endblock %}
</body>
</html>